:root{
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --grey-blue:  hsl(227, 12%, 61%);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-position: 42em -5em;
    background-size: 45em;
}
/* section one styling */
#section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2.5em;
}
#section1 img{
    width: 8em;
    height:1.3em ;
}
.nav ul{
    display: flex;
    justify-content: center;
}
.nav ul li{
    list-style-type: none;
    margin: .4em;
    font-size: .9em;
    font-weight: bold;
    color: var(--dark-blue);
}
#section1 button{
    background-color:var(--bright-red);
    width: 9em;
    padding: .8em;
    border: none;
    border-radius: 1.2rem;
    color: white;
    box-shadow:  0px 17px 10px -14px var(--bright-red);
}

/* section two styling */
#section2{
    display: flex;
    padding: 8em;
    justify-content: space-between;
}
#section2 h1{
    font-size:35px ;
    font-weight: 900;
    line-height: 1.2em;
    color: var(--dark-blue);
}
#section2 p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
}
#section2 img{
    width: 35em;
    height: 30em;
}
#section2 button{
    background-color:var(--bright-red);
    width: 9em;
    padding: .8em;
    border: none;
    border-radius: 1.2rem;
    color: white;
    margin-top: 1em;
    box-shadow:  0px 17px 10px -14px var(--bright-red);
}
/* section three styling */

#section3{
    display: flex;
    justify-content: space-between;
    padding: 8em;
    padding-top: 4em;
}
#section3 h4{
    color: var(--dark-blue);    
}
#section3 h1{
    font-size:30px ;
    font-weight: 800;
    line-height: 1.2em;
    color: var(--dark-blue);    
}
#section3 .h1-p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
    margin-top: 1em;
    margin-bottom: 2em;
}
#section3 p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
    margin-top: -.8em;
    margin-bottom: 2em;
}

#section3 button{
    background-color: var(--bright-red);
    padding: .4em;
    width: 4em;
    height: 2.4em;
    border: none;
    border-radius: 1.2em;
    color: white;
    margin-left: -5.45em;
    margin-right: .8em;
}

/* Testimonials */
body{
    padding: 0px;
    margin: 0px;
}
div.wrapper3{
    background: url('./assets/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position-x: 600px;
    background-position-y: -150px;
}
div.wrapper4{
    background: url('./assets/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position-y: 1100px;
    background-position-x: -550px;
}
div.wrapper2{
    display: none;
}
.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.testimonial-section p{
    color: #a5a6ab;
}
.testimonial-section h4{
    color: #3e3e5c;
    font-weight: 600;
}
.testimonial-section h3{
    color: #293355;
}
.testimonial-section div.btn a{
    color: #fff;
    background: #f3613c;
    text-decoration: none;
    border-radius:  20px;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px 1px #fee4df;
}
.testimonial-section div.btn a:hover{
    color: #f3613c;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #f3613c;
}
.testimonial-section .btn{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.testimonial-section >h3{
    text-align: center;
    font-size: 35px;
    padding: 35px;
}
.testimonial-section .testimonials img{
    position: absolute;
    top: -35px;
    left: 170px;
    width: 70px;
}
.testimonial-section .tes1{
    background: #fafafa;
    color: #1e1e26;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.testimonial-section .tes2{
    background: #fafafa;
    color: #1e1e26;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.testimonial-section .tes3{
    background: #fafafa;
    color: #1e1e26;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


/* team-section */
.team-section{
    background: url('./assets/bg-tablet-pattern.svg');
}
.team-section2{
    background: #f3613c;
    opacity: 0.5;
    padding: 10px 100px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-top: 30px;
    color: #eceae8;
}
.team-section div a{
    color: #f3613c;
    background: #fff;
    text-decoration: none;
    border-radius:  20px;
    padding: 10px 20px;
}
.team-section div a:hover{
    color: #fff;
    background: #f3613c;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
}
.team-section h3{
    font-size: 40px;
    color: #fff;
}
.team-section2 div{
    display: flex;
    align-items: center;
}

/* footer section */
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 100px;
    background: #1e1e26;
    color: #eceae8;
}
.footer .logo{
    margin-bottom: 70px;
}
.footer .updates {
    margin-bottom: 70px;
}
.footer div.icon img{
    padding-right: 8px;
}
.footer input{
    border-radius: 20px;
    padding: 10px;
    border: inherit;
}
.footer span a{
    color: #fff;
    background: #f3613c;
    text-decoration: none;
    border-radius:  20px;
    padding: 10px 20px;
}
.footer span a:hover{
    color: #f3613c;
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #f3613c;
}
.footer .copyright{
    text-align: right;
    font-size: 14px;
}
.footer ul{
    list-style-type: none;
    margin-top: 0px;
}
.footer li a{
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
}
.footer li a:hover{
    color: #f3613c;
}
.footer div{
    padding-top: 0px;
}


/* media queries */
@media only screen and (max-width: 600px){
    #section1{
        padding-top: 1em;
    }
    #section1 img{
        width: 5em;
        height:1.1em ;
        margin-left: 2em;
        margin-top: -1.5em;
    }
    /* .nav ul{
        padding-right: 3em;
    } */
    .nav ul li{
        font-size: .8em;
    }
    #section1 button{
     display: none;
    }
    
    /* section two styling */

#section2{
    display: flex;
    flex-direction: column-reverse;
    padding: 5em;
    justify-content: space-between;
    margin-top: 1em;
}
#section2 p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
}
#section2 img{
    width: 20em;
    height: 18em;
    margin-left: -1em;
}
#section2 button{
    margin-left: 2em;
}
/* section three styling */

#section3{
    display: flex;
    flex-direction: column;
    padding: 8em;
    padding-top: 1em;
}
#section3 h4{
    color: var(--dark-blue);    
}
#section3 h1{
    font-size:30px ;
    font-weight: 800;
    line-height: 1.2em;
    color: var(--dark-blue);    
}
#section3 .h1-p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
    margin-top: 1em;
    margin-bottom: 2em;
}
#section3 p{
    font-size:.9em;
    line-height: 1.5;
    color: var(--grey-blue);
    margin-top: -.8em;
    margin-bottom: 2em;
}

#section3 button{
    background-color: var(--bright-red);
    padding: .4em;
    width: 4em;
    height: 2.4em;
    border: none;
    border-radius: 1.2em;
    color: white;
    margin-left: -5.45em;
    margin-right: .8em;
}
}

/* mobile responsiveness */
@media (max-width: 1024px) {
    div.wrapper{
        display: none;
    }
    div.wrapper2{
        display: inline;
    }

/* Testimonial section */
.testimonials {
    display: grid;
    grid-template-columns: 1fr ;
}
.testimonial-section .testimonials img {
    position: absolute;
    top: -35px;
    left: 145px;
    width: 70px;
}

    /* team section */

.team-section2{
    background: #f3613c;
    opacity: 0.5;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-top: 30px;
    color: #eceae8;
}
.team-section h3{
    font-size: 20px;
    color: #fff;
}
    /* footer */
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 10px;
        text-align: center;
        background: #1e1e26;
        color: #eceae8;
    }
    .footer .logo{
        margin-bottom: 30px;
    }
    .footer .copyright{
        text-align: center;
        font-size: 14px;
    }
}
